<html>
<head>
	<title>Recetas de Bidania</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/style_base.css">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block style %}{% endblock %}
</head>
<body>
	{% block section %}{% endblock %}
</body>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" ></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
    {% block js %}{% endblock %}
</html>