{% extends 'base.html' %}

<!-- Bloque Style -->
{% block style %}
<link rel="stylesheet" type="text/css" href="static/css/style.css">
{% endblock %}

<!-- Bloque Sction -->
{% block section %}
<div class="navbar navbar-inverse navbar-twitch" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<span class="small-nav"> <span class="logo"> <center><img src="/static/images/logo.svg" width="25"></center> </span> </span>
				<span class="full-nav">  <img src="/static/images/logo.svg" width="35" style = "margin:0.41em; float:left;">Recetas de Bidania  </span>
			</a><br>
		</div>
		<div class="">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home"> 
							<span class="glyphicon glyphicon-home"></span> 
						</span>
						<span class="full-nav"> Home </span>
					</a>
				</li>
				<li>
					<a href="#about-us">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Sobre nosotras y nuestra historia"> 
							<span class="fa fa-users"></span> 
						</span>
						<span class="full-nav"> Sobre Nosotras </span>
					</a>
				</li>
				<li>
					<a href="#contact-us">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Comentanos lo que quieras"> 
							<span class="glyphicon glyphicon-comment"></span> 
						</span>
						<span class="full-nav"> Contacto </span>
					</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
<button type="button" class="btn btn-default btn-xs navbar-twitch-toggle">
	<span class="glyphicon glyphicon-chevron-right nav-open"></span>		
	<span class="glyphicon glyphicon-chevron-left nav-close"></span>
</button>

<div class="container">
	<div class="row">
		<h2>Recetas de Bidania</h2>
        <p>Elije el color de la barra de navegación. Esto sólo son pruebas</p>
	</div>
    <div class="row">
        <h2>Estilos de la barra</h2>
        <p>Ejemplo de interactuación con la estructura del documento y el estilo!</p>
        <button type="button" class="btn btn-inverse nav-style-toggle disabled" data-type="inverse"> Invertido</button>
        <button type="button" class="btn btn-default nav-style-toggle" data-type="default"> Por Defecto</button>
        <button type="button" class="btn btn-purple nav-style-toggle" data-type="purple"> Morado</button>
    </div>
</div>
{% endblock %}

<!-- Bloque Javascript -->
{% block js %}
<script type="text/javascript" src="static/js/home.js"></script>
{% endblock %}
